.b002_nav {
    margin-top: 15px;
}

.b002_nav_box {
    height: 66px;
    width: calc(100% - 60px);
    border-radius: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    background: #fff;
}
.b002_nav_logo_box {
    width: 65px;
}
.b002_nav_navigatin {
    display: flex;
    gap: 40px;
    align-items: center;
}
.b002_nav_item {
    color: #332428;
    text-decoration: none;
}
.b002_nav_btn {
    padding: 7px 26px;
    background: #2F6BF2;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.search_box{
    display: flex;
    gap: 0;
}

.search_input{
    height: 34px;
    width: 180px;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    border: 2px solid #2F6BF2;
    outline: none;
    background: #FFFFFF;
    color: #9E9C9C;
}

.search_input:focus{
    border-color: #2F6BF2;
}

.search_input:focus > .search_btn{
    background: #2F6BF2;
}
.search_lable {
}
.search_btn {
    width: 34px;
    height: 34px;
    border: none;
    background: #2F6BF2;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: 0.3s ease;
}

.search_btn:hover{
    background: #2F6BF2;
}

.cart_icon{
    position: relative;
    width: 32px;
}

.nav_btn_box_svg path{
    transition: .3s ease;
}

.nav_btn_box_link:hover .nav_btn_box_svg path{
    stroke: #0C6563;
}

.nomber_cart{
    font-size: 12px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background: #2F6BF2;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
}